
{% include "uheader.html"%}
{% load static %}
    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Change Your Password Here</h1>
            <span>feel free to send us a message now!</span>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form contact-us" style="margin-top:0px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Change Password <em>Form</em></h2>
                <p>{{msg}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="/changepassword" method="post">
                  {% csrf_token %}{{msg}}
                  {{ form.as_p}}
                  <p>Enter New Password: <input type="password" name="npwd"></p>
                  <p>Retype Password :<input type="password" name="rpwd"></p>

                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Change Password</button>
                    </fieldset>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% include "footer.html"%}