
{% include "header.html"%}
{% load static %}
    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{header}} Here</h1>
            <span>feel free to send us a message now!</span>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form contact-us" style="margin-top:0px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>{{header}} <em>Form</em></h2>

            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="/{{target}}" method="post">

                  {% csrf_token %}{{msg}}
                  {{ form.as_p}}

                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">{{header}}</button>
                    </fieldset>
                      <p>Already have an account Login <a href="/login">here</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% include "footer.html"%}