{% include "uheader.html" %}
<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are ready to help you</h6>
                  <h4>Financial Analysis<br>&amp; Consulting</h4>
                  <p>This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.</p>
                  <a href="contact.html" class="filled-button">contact us</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are here to support you</h6>
                  <h4>Accounting<br>&amp; Management</h4>
                  <p>You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.</p>
                  <a href="services.html" class="filled-button">our services</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we have a solid background</h6>
                  <h4>Market Analysis<br>&amp; Statistics</h4>
                  <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
                  <a href="about.html" class="filled-button">learn more</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->


    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            {% include "sidebar.html" %}
          </div>
          <div class="col-lg-9 ">
          <div class="row d-flex justify-content-between">

                  {% for jobs in jobopenings  %}
             <div class="card bg-light col-lg-12 my-2 "  >
              <div class="card-header">Jobs Detail</div>
              <div class="card-body">
                <p class="card-text"><b>Designation : </b> {{jobs.designation}}</p>
                <p class="card-text"><b>Location :</b>  {{jobs.location}} </p>
                <p class="card-text"><b>Job Type</b> :{{jobs.job_type}}</p>
                <p class="card-text"><b>Experience</b> :{{jobs.exprience.name}}</p>
                <p class="card-text"><b>Sector</b> : {{jobs.area_of_sector}} </p>
                <p class="card-text"><b>Skills</b> : {{jobs.keyskills}} </p>
                <p class="card-text"><b>Salary Range</b> : {{jobs.salary_range}} </p>
                <p class="card-text"><b>Description</b> : {{jobs.description}}</p>
                <p class="card-text"><b>Last Date for Apply</b> : {{jobs.e_date}}</p>
                <p class="card-text"><b>Post Date</b> : {{jobs.p_date}}</p>
              </div>
               <div class="card-footer">
                   {% if isapplied == 0 %}
                      <a href="/apply/{{jobs.id}}" class="btn btn-sm btn-primary ">Apply </a>
                   {%else%}
                       <a href="/apply/{{jobs.id}}" class="btn btn-sm btn-primary disabled ">Apply </a>
                   {% endif%}
                   {% if isfav == 0 %}
                      <a href="/addtofav/{{jobs.id}}" class="btn btn-sm btn-primary ">Add to Fav </a>
                   {%else%}
                       <a href="/removefav/{{jobs.id}}" class="btn btn-sm btn-danger  ">Remove From Fav </a>
                   {% endif%}

               </div>
            </div>
             {% endfor %}

            </div></div></div>

          </div>
      </div>
    </div>

{% include "footer.html" %}
